html {
  font-size: calc(16 / 1920 * 100vw);
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0;
}

@media (min-width: 511px) {
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .main-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: center;
  /*  transition: $ease;
  transform: translate(0, 50%);
  transform-origin: center 80%;
 */
}

.button {
  margin-top: 2vh;
  background-color: #ecf0f3;
  -webkit-box-shadow: 1vw 1vh 2vh #d1d9e6, -1vw -1vh 2vh #ffffff;
          box-shadow: 1vw 1vh 2vh #d1d9e6, -1vw -1vh 2vh #ffffff;
  border-radius: 2vh;
  border-style: none;
  width: 25rem;
  height: 20rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

@media (min-width: 511px) {
  .button {
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 1440px) {
  .button {
    width: 10rem;
    height: 3rem;
  }
}

.button:active {
  -webkit-box-shadow: inset 1vw 1vh 2vh #d1d9e6, inset -18px -18px 30px #ffffff;
          box-shadow: inset 1vw 1vh 2vh #d1d9e6, inset -18px -18px 30px #ffffff;
}

.slider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo {
  font-size: x2;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
/*# sourceMappingURL=style.css.map */