$phone: 370px;
$tablet: 511px;
$desktop: 1440px;

$ease: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

//phone netreba
//treba tablet i desktop
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

html {
  font-size: calc(16 / 1920 * 100vw);
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f3;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  @include tablet {
    flex-direction: column;
  }
  @include desktop {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  //position: relative;
  justify-content: center;
  gap: 5rem;
  align-self: flex-end;
  justify-self: center;
  /*  transition: $ease;
  transform: translate(0, 50%);
  transform-origin: center 80%;
 */

  @include tablet {
  }
  @include desktop {
  }
}

.button {
  margin-top: 2vh;
  background-color: #ecf0f3;
  box-shadow: 1vw 1vh 2vh #d1d9e6, -1vw -1vh 2vh #ffffff;
  border-radius: 2vh;
  border-style: none;

  width: 25rem;
  height: 20rem;
  position: sticky;
  bottom: 0;

  @include tablet {
    width: 10rem;
    height: 10rem;
  }
  @include desktop {
    width: 10rem;
    height: 3rem;
  }
}

.button:active {
  box-shadow: inset 1vw 1vh 2vh #d1d9e6, inset -18px -18px 30px #ffffff;
}

.slider {
  align-self: center;
}
.logo {
  font-size: x2;
  align-self: flex-start;
  top: 0;
  // ORDER PROPERTY
  order: 1;
}
